*{
	font-family: 'Open Sans', sans-serif;
}
html, body{
	background: #7da5d6 !important;
	height: 100%; 
}
.containerq{
	min-height: 97%;
	border-radius: 5px;
	margin: 10px;
	padding: 2%;
	background: rgba(255,255,255,0.6);
	box-shadow: 0 10px 14px rgba(0,0,0,0.4);
}
.containerq h3{
	font-weight: 700;
	padding-bottom: 2.5%;	
}
.containerq img{
	display: block;
	margin: auto;
    width: 50%;
    height: auto;
    padding-bottom: 15vh;
}
.tombol{
	display: flex;
	justify-content: center;
 	align-items: center;
}
form{
	display: inline-block;
	margin: 2px;
}
@media screen and (max-width: 900px){
	.containerq{
		min-height: 0;
	}
	.containerq img{
		width: 60%;
		padding-bottom: 7.5vh;
	}
	.more{
		display: none;
	}
}
@media screen and (max-width: 700px){
	.containerq h3{
		padding-bottom: 5%;
	}
}
button{
	border-radius: 3px !important;
	outline: none;
	border: none;
	padding: 5px 17px;
	font-weight: 600;
}
.team{
	background-color: #ffe018;
	color: #fff;
	transition: all 0.2s linear !important;
}
.team:hover{
	background-color: rgba(255,255,255,0.4);
	color: #ffe018;
}
.download{
	background-color: #7da5d6;
	color: #fff;
	transition: all 0.2s linear !important;
}
.download:hover{
	background-color: rgba(255,255,255,0.4);
	color: #7da5d6;
}
.more{
	background-color: #4a4a4a;
	color: #fff;
	transition: all 0.2s linear !important;
}
.more:hover{
	background-color: rgba(255,255,255,0.4);
	color: #4a4a4a;
}
.container-team{
	border-radius: 5px;
	margin: 10px;
	padding: 2%;
	background: #fff;
}
.card-img-top {
	position: absolute;
	top: -90px;
	left: 50%;
	margin-left: -40px;
	width: 90px !important;
	height: auto;
}
.card {
	font-weight: 700;
	margin-top: 90px;
	padding-top: 40px;
	padding-bottom: 25px;
	width: 15rem;
	word-wrap: break-word;
}