*{
	font-family: 'Open Sans', sans-serif;
}
html, body{
	background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(20,20,20,1) 100%);
}
.preloader{
	display: flex;
    align-items: center;
    justify-content: center;
	position: fixed;
	z-index: 999;
	height: 100%;
	width: 100%;
	background: #141414;
	text-align: center;
}
.preloader img{
	width: 120px;
	height: auto;
	animation: tick 1.3s infinite;
}
@keyframes tick{
	50%{
		width: 140px;
		height: auto;
	}
}
.hero{
	min-width: 100%;
	background: url(https://i.pinimg.com/originals/40/3f/25/403f25684c9355fac0c6cb75bfcb1ca4.jpg) no-repeat center center;
	background-size: cover;
	background-color: rgba(66, 135, 245,0.4);
	background-blend-mode: screen;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 3%;
}
.hero-inner img{
	margin: 10px;
	padding: 0;
    height: 50vh;
    width: auto;
}
@media only screen and (max-width: 992px){
	.hero-inner img{
		height: 25vh;
		width: auto;
	}
}
@media only screen and (max-width: 450px){
	.hero-inner img{
		height: 10vh;
		width: auto;
	}
}
button{
	border: none;
	outline: none;
	padding: 6px 20px;
}
.download{
	font-weight: 700;
	border-radius: 20px;
	background-color: #fff;
}
.navbar{
	font-size: 18px;
	background: rgba(20,20,20,0.3);
	z-index: 99;
	backdrop-filter: blur(5px);
}
.navbar-brand{
	font-weight: 700;
}
.nav-link{
	font-weight: 600;
	color: #fff !important;
}
.float{
	background: #c90484;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	position: fixed;
	padding: 1vh;
	bottom: 0%;
	right: 2.5%;
}
.float a{
	margin: 10px;
}
.githab{
	font-weight: 600;
	border-radius: 25px;
	background: #fff;
	color: #000;
}
.container-2{
	background: #1497de;
}
.footer{
	text-align: center;
	color: #fff;
}